<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block left">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="/assets/registerImage.png" class="my-4" alt="">
		</div>
	</div>

	<div class="col-md-6">

		<form class="p-1" [formGroup]="form" (ngSubmit)="register()">
			<div class="pb-2 d-block d-md-none">
				<h3 class="border-bottom">Cadastro de Usuário</h3>
			</div>
			<div class="form-row">
				<div class="form-group col col-sm-6">
					<label>Primeiro Nome</label>
					<input  class="form-control" formControlName="primeiroNome" [ngClass]="cssValidator(f.primeiroNome)" 
					placeholder="Insira o Primeiro nome" type="text" />
					<div class="invalid-feedback">
                        Primeiro nome é obrigatório
                    </div>
				</div>
				<div class="form-group col col-sm-6">
					<label>Último nome</label>
					<input class="form-control" formControlName="ultimoNome" [ngClass]="cssValidator(f.ultimoNome)" 
					placeholder="Insira o Último nome" type="text" />
					<div class="invalid-feedback">
                        Último nome é obrigatório
                    </div>
				</div>
			</div>
			<div class="form-group col">
				<label for="">E-mail:</label>
				<input class="form-control" formControlName="email" [ngClass]="cssValidator(f.email)"
				placeholder="Insira o Nome Completo" type="text" />
				<div class="invalid-feedback">
					@if (f.email.errors?.required) {
						E-mail é obrigatório
					} @else if (f.email.errors?.email) {
						E-mail inválido
					}
				</div>
			</div>
			<div class="form-group col">
				<label for="">Usuario:</label>
				<input class="form-control" type="text" formControlName="userName" [ngClass]="cssValidator(f.userName)"
				placeholder="Insira o nome de Usuário" />
				<div class="invalid-feedback">
					Nome de usuário é obrigatório
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col col-sm-6">
					<label for="">Senha:</label>
					<input class="form-control" formControlName="password" [ngClass]="cssValidator(f.password)"
					type="password" placeholder="Digite uma Senha" />
					<div class="invalid-feedback">
						@if (f.password.errors?.required) {
							Senha é obrigatória
						} @else if (f.password.errors?.minlength) {
							Senha deve ter no mínimo 4 caracteres
						}
					</div>
				</div>
				<div class="form-group col col-sm-6">
					<label for="">Confirmar Senha:</label>
					<input class="form-control" formControlName="confirmPassword" [ngClass]="cssValidator(f.confirmPassword)"
					type="password" placeholder="Confirme a Senha" />
					<div class="invalid-feedback">
						@if (f.confirmPassword.errors?.required) {
							Confirme a senha
						} @else if (f.confirmPassword.errors?.mustMatch) {
							Senhas não conferem
						}
					</div>
				</div>
			</div>
			<div class="form-row p-1 mb-3">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input me-1" 
					formControlName="termosDeUso"
					id="customCheck1">
					<label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col col-12">
					<button class="btn btn-lg btn-success btn-block px-5 w-100" type="submit" [disabled]="!form.valid">
						Registar
					</button>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-12">
					<a class="btn btn-link btn-block w-100" routerLink="/user/login">
						Já sou Cadastrado
					</a>
				</div>
			</div>
		</form>

	</div>
</div>