<app-titulo [titulo]="'Eventos'"></app-titulo>
<div class="form-group">
    <label class="form-label">Filtro:</label>
    <input type="text" class="form-control mb-2" placeholder="buscar" [(ngModel)]="listFilter">
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="showImg = !showImg">
          <i class="fa {{ showImg ? 'fa-eye' : 'fa-eye-slash' }}"></i>
          <fa-icon [icon]="showImg ? faEye : faEyeSlash"></fa-icon>
          {{ showImg ? "ocultar" : "exibir" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!showImg" [isAnimated]="true" src="assets/{{ evento.imagemURL }}"
        [style.width.px]="widthImg" [style.margin.px]="marginImg">
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | DateTimeFormatPipe }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lotes[0] ? evento.lotes[0].nome : "" }}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-primary btn-sm" tooltip="Editar">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(templateModal)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados || !eventosFiltrados.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #templateModal>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar os eventos?</p>
    <button class="btn" (click)="confirm()">Sim</button>
    <button class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
