<app-titulo titulo="Perfil" />

<div class="card rounded shadow-sm">
	<form [formGroup]="form">
		<div class="row p-3">
			<div class="col-lg-3 pt-1">
				<div class="card mb-3">
					<div class="card-header"></div>
					<div class="d-flex align-self-center pt-3">
						<a>
							<img
							src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
							name="aboutme" width="120" height="120" class="rounded-circle">
						</a>
					</div>
					<div class="card-body">
						<div class="h4 text-center mb-3">&#64;UserName</div>
						<div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
						<div class="h7">
							Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
							etc.
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<div class="row">
								<div class="col-6 text-center border-right">
									<div class="h5">1342</div>
									<div class="h6 text-muted">Eventos Ministrados</div>
								</div>
								<div class="col-6 text-center">
									<div class="h5">1342</div>
									<div class="h6 text-muted">Eventos Participados</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="card-footer"></div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="form-row">
					<div class="form-group col-12">
						<h3 class="border-bottom">Detalhe Perfil</h3>
					</div>
					<div class="form-group col">
						<label>Título</label>
						<select class="form-control" formControlName="titulo"
						[ngClass]="cssValidator(f.titulo)">
							<option value=""></option>
							<option value="0">Não Quero</option>
							<option>Tecnólogo(a)</option>
							<option>Bacharel</option>
							<option>Especialista</option>
							<option>Pós Graduado(a)</option>
							<option>Mestre</option>
							<option>Doutor(a)</option>
							<option>Pós Doc</option>
						</select>
						<div class="invalid-feedback">
							Título é obrigatório
						</div>
					</div>
					<div class="form-group col col-sm-5">
						<label>Primeiro Nome</label>
						<input type="text" formControlName="primeiroNome" class="form-control"
						[ngClass]="cssValidator(f.primeiroNome)"/>
						<div class="invalid-feedback">
							Primeiro nome é obrigatório
						</div>
					</div>
					<div class="form-group col col-sm-5">
						<label>Último nome</label>
						<input type="text" formControlName="ultimoNome" class="form-control"
						[ngClass]="cssValidator(f.ultimoNome)"/>
						<div class="invalid-feedback">
							Último nome é obrigatório
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col col-sm-5">
						<label>E-mail</label>
						<input type="text" formControlName="email" class="form-control"
						[ngClass]="cssValidator(f.email)" />
						<div class="invalid-feedback">
							@if (f.email.errors?.required) {
								E-mail é obrigatório
							} @else if (f.email.errors?.email) {
								E-mail inválido
							}
						</div>
					</div>
					<div class="form-group col col-sm-4">
						<label>Telefone</label>
						<input type="text" formControlName="phoneNumber" class="form-control" 
						[ngClass]="cssValidator(f.phoneNumber)"/>
						<div class="invalid-feedback">
							Telefone é obrigatório
						</div>
					</div>
					<div class="form-group col col-sm">
						<label>Função</label>
						<select class="form-control" formControlName="funcao"
						[ngClass]="cssValidator(f.funcao)">
							<option value=""></option>
							<option value="Participante">Participante</option>
							<option value="Palestrante">Palestrante</option>
						</select>
						<div class="invalid-feedback">
							Função é obrigatório
						</div>
					</div>
					<form-group class="col-12">
						<label>Descrição</label>
						<input type="text" formControlName="descricao" class="form-control" 
						[ngClass]="cssValidator(f.descricao)"/>
						<div class="invalid-feedback">
							Descrição é obrigatório
						</div>
					</form-group>
				</div>
				<div>
					<h3 class="pt-3 border-bottom">Mudar Senha</h3>
					<p>Caso mude de senha, preencha os campos abaixo:</p>
				</div>
				<div class="form-row">
					<div class="form-group col col-sm">
						<label>Senha</label>
						<input type="password" formControlName="password" class="form-control" />
					</div>
					<div class="form-group col col-sm">
						<label>Confirmar Senha</label>
						<input type="password" formControlName="confirmPassword" class="form-control"
						[ngClass]="cssValidator(f.confirmPassword)" />
						<div class="invalid-feedback">
							Senhas não conferem
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="d-flex w-100 px-3 justify-content-between">
				<button class="btn btn-outline-secondary mr-auto border">
					Cancelar Alteração
				</button>
				<button class="btn btn-success" [disabled]="!form.valid">
					<span class="spinner-border spinner-border-sm mr-1"></span>
					Salvar Alteração
				</button>
			</div>
		</div>
	</form>
</div>
